<div class="actions">
  <div class="left">
    <button (click)="areaDraw.startPaint()">New shape</button>
  </div>
  <div class="right">
    <button (click)="reset()">Reset</button>
    <button (click)="clean()">Clean</button>
  </div>
</div>

<div class="content">
  <div class="left">
    <div class="settings">
      <div>
        <label>Image URL</label>
        <input type="text" [(ngModel)]="imageUrl" (keyup)="reset()">
      </div>
      <div>
        <label>Update while moving</label>
        <input type="checkbox" [(ngModel)]="updateWhileMoving">
      </div>
      <div>
        <label>Stroke Color</label>
        <input type="text" [(ngModel)]="strokeColor">
      </div>
      <div>
        <label>Fill Color</label>
        <input type="text" [(ngModel)]="fillColor">
      </div>
      <div>
        <label>Handle Fill Color</label>
        <input type="text" [(ngModel)]="handleFillColor">
      </div>
      <div>
        <label>Handle Stroke Color</label>
        <input type="text" [(ngModel)]="handleStrokeColor">
      </div>
    </div>

    <div #areaDraw="canvasAreaDraw"
         (activeShapeChangeEvent)="sceneChange($event)"
         (addShapeEvent)="onAddShape()"
         (removeShapeEvent)="onRemoveShape($event)"
         [defaultShapes]="defaults"
         [eventWhileMoving]="updateWhileMoving"
         [strokeColor]="strokeColor"
         [fillColor]="fillColor"
         [handleFillColor]="handleFillColor"
         [handleStrokeColor]="handleStrokeColor"
         [canvasAreaDraw]="imageUrl"></div>
  </div>

  <div class="right">
    <div #area2Draw="canvasAreaDraw"
         [strokeColor]="strokeColor"
         [fillColor]="fillColor"
         [handleFillColor]="handleFillColor"
         [handleStrokeColor]="handleStrokeColor"
         [canvasAreaDraw]="image2Url">
        </div>
  </div>
</div>
